extends layout

block content
  
  link(rel='stylesheet', href='/stylesheets/stars.css')
  link(rel='stylesheet', href='/stylesheets/button.css')
  link(rel='stylesheet', href='/stylesheets/entry.css')
  
  #background-all

    
     .log
      
        h3 Are you sure you want to delete this entry?

      
    
       


      button.btnss(type='delete' id='delete') Yes
      a(href='/horse/:id')
        button.btnss(type='confirm' id='confirm') No

       