extends layout

block content
  link(rel='stylesheet', href='/stylesheets/find.css')
  
 
  #background-all
    
     h3 Find Horses by Owner 
       col-12
    
      each owner in owners
       .card
        .card-image
         
        a(href="/owner/"+owner._id) #{owner.username} 
         
    


        
                    
         