extends layout

block content
  link(rel='stylesheet', href='/stylesheets/cards2.css')
  link(rel='stylesheet', href='/stylesheets/find.css')
  .container

    h6 Find Horses by Owner 
    col-12
   .cards
    each owner in owners
     .card
      .card-image
       
      .card-title
       a(href="/owner/"+owner._id) #{owner.username} 
       
  


        
                    
         