extends layout
block content
  .container
  
   #background
      .item
        h2 every stride of the way...


    .explanation
     h4 An easy way to track your rides  
     h4 Horse Tracker gives you an easy to use platform to help you track the progess your horses, keep a well organized workout schedule and assess beneficial training techniques.
     .register-button
      a(href="/register") GET STARTED 

       
       

 