doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    <!--link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')-->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet")
    link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

  body
   
    .logo 
      a(href="/")
        img.logo(src="https://image.ibb.co/fX03Ow/IMG_3420.jpg.jpg" alt="Logo")
      if (user)
       .logged-in
        h5 Hello, #{user.username}!
        a(href="/profile") Profile
        a(href="/find") Find Horse
        a(href="/logout") Logout
       
    block content


  script(src='https://code.jquery.com/jquery.js')
  script(src='https://horse-express.herokuapp.com/script.js')
  //script(src='http://localhost:3000/script.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')