doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    <!--link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')-->
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet")
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')

  body
    if (error && error.length > 0)
      br
      h4.error-msg= error
      br
    .menu
      if (!user)
        .login
        a(href="/login") Login
        .logo 
          img.logo(src="https://image.ibb.co/fX03Ow/IMG_3420.jpg.jpg" alt="Logo")
          a(href="/")
      if (user)
        h5 Hello, #{user.username}!
        //a(href="/") Home
        a(href="/profile") Profile
        a(href="/find") Find Horse
        a(href="/logout") Logout
        .logo 
         img.logo(src="https://image.ibb.co/fX03Ow/IMG_3420.jpg.jpg" alt="Logo")
         a(href="/")
    block content


  script(src='http://code.jquery.com/jquery.js')
  script(src='http://localhost:3000/script.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
