extends layout

block content
  .container
    h3 Owner
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (!user)
      h6 #{owner.username} hasn't added any horses
    if (user)
      each horse in horses
          li 
            a(href="/horse/"+horse._id) #{horse.horsename} 

      