extends layout

block content
  .container
   if(horses)
    .slideshow-container
      each horse in horses
       .mySlides.fade
        img(src="/uploads/#{horse.images[0]}", class="horse-pics", id="background")
        .text #{horse.horsename}
    div(style='text-align:center')
     each horse in horses
      span.dot
    
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      each horse in horses
          li.my-horses
            a(href="/horse/"+horse._id) #{horse.horsename}
      h6 Add a Horse 
      form(role='form', action="/add-horse", method="post", style='max-width: 300px;' enctype="multipart/form-data")
       .form-group
           input.form-control(type='text', name="horsename", placeholder='Enter Horsename')
       form(action='/action_page.php')
           input#inp(type='file' name='pic')
           p#b64
           img#img(height='150')
      .profile-btn
       button.btn.btn-default(type='submit') Submit
       &nbsp;
       a(href='/')
         button.btn.btn-primary(type="button") Cancel
