extends layout

block content
  .container
    h3 Profile
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      each horse in horses
          li 
            a(href="/horse/"+horse._id) #{horse.horsename} 

      
      //form(role='form', action="/add-horse", method="post", style='max-width: 300px;' enctype="multipart/form-data")
       .form-group
           input.form-control(type='text', name="horsename", placeholder='Enter Horsename')
           
           input#inp(type='file' name='pic')
           p#b64
           img#img(height='150')

       button.btn.btn-default(type='submit') Submit
       &nbsp;
       a(href='/')
         button.btn.btn-primary(type="button") Cancel

      form(action='/add-horse', method='post', enctype='multipart/form-data')
       input(type='file', name='pic', accept='application/x-zip-compressed,image/*')
       input(type='submit', value='Upload selected file to server')

