extends layout

block content
  .container
   #background
      .item
       h2 every stride of the way...
    .intro Register for Horse Tracker
   
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
    .explanation
     h4 An easy way to track your rides  
     h4 Horse Tracker gives you an easy to use platform to help you track the progess your horses, keep a well organized workout schedule and assess beneficial training techniques.
     