.btn-default, .btn-primary {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: 0.625rem;
  letter-spacing: 0.3em;
  padding: 18px 80px 20px;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
  border: 1px solid rgba(223,190,106,0.3);
}

.btnss, a.btnss{
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-size: .75em;
  letter-spacing: 0.3em;
  padding: 18px 80px 15px;
  text-decoration: none;
  margin: 0.625rem;
  border: none;
}

.btn.primary:hover {
  color: black
  border: 1px solid rgba(223,190,106,0);
  color: white;
  cursor: pointer;
}

.btnss:hover {
  color: black;
  border: 1px solid rgba(223,190,106,0);
  color: darkgrey;
  background-position: 99% 50%;
  cursor: pointer;
}

.btn.default:hover {
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: $white;
  background-position: 99% 50%;
  cursor: pointer;
}
