
input#file-input{
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 0;
  border-radius: 10px;
  padding: 15px;
  width: 190.91px;
   box-shadow: 2px 5px 5px #a17f1a;
}


@media only screen and (max-width: 500px){
input#file-input{
          background-color: white;
          color: orange;

}
}

input#file-input:hover{
  background-color: orange;
  cursor: pointer;
  color: white;
}

input.form-control{
  text-indent: 5px;
  border-radius: 10px;
  height: 50px;
  font-size: 18px;
}

input#input.form-control:active{
  border: orange;
}

.dropdown {
  display: none;
}

.button:focus + .dropdown {
  display: block;
}

.btnss{
  font-size: .75em;
  font-family: raleway, sans-serif;
  font-weight: 500;
  box-shadow: 2px 5px 5px #a17f1a;
  border-radius: 10px;

}

.card-title{
  font-weight: 600;
}

