body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



p {
  padding-right: 5%;
  padding-left: 5%;
  font-size: 1.5em;
}

.item {
  box-sizing: border-box;
  //font-size: 4.2rem;
  line-height: 40%;
  //margin: 2.1rem 0 1.68rem 0;
  z-index: 2;
  position: absolute;
  //display: block;
  font-size: 140%;
  padding-left: 45%;
  color: white;
}

.form-control-horse {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  border-top: 2px solid white;
  padding-top: 3%;
  margin-top: 350px;
  text-align: right;
}
@media only screen and (max-width: 700px) {
h2 { margin-top: 250px;
    font-size: .75em;}
 }

h3 {
//font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-weight: normal;
padding-top: 30%;
text-align: right;
}

h4 {
  padding-top: 4%;
  padding-left: 2%;
  font-size: 2.5em;
}

.menu a:hover {
	color: red;
}

img.logo {
  float: left;
  z-index: 5;
  position: absolute;
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

a {
  color: #00B7FF;
}

a .menu{
  width: 33.3%;
  color: white;
  text-decoration: none;
}

.menu {
  font-family: 'Raleway', sans-serif;
   z-index: 2;
	text-align: center;
	//background: #eee;
  //background:rgba(255,255,255, 0.9);
	box-sizing: border-box;
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  background-color: rgba(0, 0, 255, 0.7);
  filter: alpha(opacity=80); 
  //color: #00B7FF;
  color: white;
  position: relative; 
  float: right;
}

.login {
  float: right;
  margin-left: 90%;
}

.logged-in {
  font-family: 'Raleway', sans-serif;
   z-index: 2;
  text-align: center;
  box-sizing: border-box;
  width: 33.3%;
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  background-color: rgba(0, 0, 255, 0.7);
  filter: alpha(opacity=80); 
  //color: #00B7FF;
  color: white;
  position: relative; 
  float: right;
  text-decoration: none;
}

.register-button a{
  margin: auto;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  color: white;
  background-color: gold;
  width: 10%;
  height: 5%;
  margin: auto;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  border-radius: 15px;
  border: 2px solid #dadada;
}

.register-button:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.explanation{
  box-sizing: border-box;
  width: 100%;
  height: 15%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
 padding-bottom: 5%;
}

.caramia {
  background-image: url("https://image.ibb.co/niBzJ6/Messages_Image_1176467859.jpg");
  height: 300px;
}

.container{
	margin: auto;
}

.form-group {
  padding-bottom: 5%;
}

.horse-pics {
  width: 100%;
}

.background-2 {
  position: relative;
  background: #00B7FF;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.background-3 {
  //background-image: url("https://image.ibb.co/kkArtw/IMG_3423.jpg");
  position: relative;
  overflow: hidden;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

#background {
  background-image: url("https://image.ibb.co/mSRvdw/IMG_0882.jpg");
  //background-image: url("../uploads/109f2c01fe647de0f139376842b258ad");
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
@media only screen and (max-width: 500px) {
 #background{ height: 300px}
}


h5 {
	color: red;
}

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 20px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  z-index: 100;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
