*{
  //border: 1px dashed black;
}

body {
  //font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f5f7f8;
}

a:hover {
  color: #9ecaed;
}


p {
  
  //padding-right: 5%;
  //padding-left: 5%;
  //font-size: 1.5em;
  //position: fixed;
}

.item {
  box-sizing: border-box;
  //font-size: 4.2rem;
  //line-height: 40%;
  //margin: 2.1rem 0 1.68rem 0;
  z-index: 2;
  position: absolute;
  //display: block;
  //font-size: 140%;
  //padding-left: 45%;
  color: white;
  bottom: 0;
  right: 0;
}



.form-control-horse {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  color: white;
  padding-top: 25%;
  padding-left: 10%;
  font-size: 2.5em;
}

h2 {
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  border-top: 2px solid white;
  padding-top: 3%;
  //margin-top: 350px;
  text-align: right;
}
@media only screen and (max-width: 700px) {
h2 { //margin-top: 250px;
    font-size: .75em;}
 }

h3 {
//font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-weight: normal;
padding-top: 30%;
text-align: right;
color: white;
}

h4 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  
}

h5 {
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  color: white;
  margin: auto;
  font-size: 2.5em;
}
@media only screen and (max-width: 500px) {
h5 {font-size: 1.5em;}
}

h6 {
  font-size: 15px;
  color: grey;
  text-align: center;
  padding-top: 3%;
}

.intro {
  font-family: 'Cinzel', serif;
  font-weight: lighter;
  color: grey;
  margin: auto;
  font-size: 1.5em;
  
  align-content: center;
  
}

.menu a:hover {
	color: red;
}

.logo a {
  all: unset;
}

.logo img{
  display: block;
  float: left;
  z-index: 5;
  position: absolute;
  width: 75px;
  height: 75px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.logo img:hover {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.logged-in a {
  border-top: 1px solid white;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  //color: #00B7FF;
  text-decoration: none;
}

.logged-in a:hover {
  color: #9ecaed;
}

.menu a{
  padding-top: 2%;
  padding-right: 2%;
  color: white;
  text-decoration: none;
  float: right;
}

.menu {
  font-family: 'Raleway', sans-serif;
   z-index: 2;
	text-align: center;
	//background: #eee;
  //background:rgba(255,255,255, 0.9);
	box-sizing: border-box;
  width: 100%;
  height: 100px;
  //box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  //background-color: rgba(0, 0, 255, 0.7);
  filter: alpha(opacity=80); 
  //color: #00B7FF;
  color: white;
  position: relative; 
  float: right;
}

.login-button {
  display: inline-block;
  float: right;
  margin-left: 60%;
  z-index: 100;
}

.logged-in{
  font-family: 'Raleway', sans-serif;
   z-index: 2;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  background-color: rgba(0, 0, 0, 0.9);
  filter: alpha(opacity=80); 
  color: white;
  position: relative; 
  float: right;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
.logged-in {
  text-align: right;
  padding-right: 3%;
}
 }

.register-button {
 display: block;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  color: white;
  float: left;
  width: 50%;
  text-align: center;
  height: 150px;

  /*background-color: gold;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
  border-radius: 5px;
  border: 2px solid #dadada;
  width: 175px;
  height: 30px;*/

}

.register-button a{
  background-color: #999;
  width: 150px;
  display:  inline-block;
  padding: 50px 0;
 }

.date {
  padding-top: 20%;
  font-weight: bold;
  padding-left: 5%;
}

.entry {
  padding-top: 3%;
  padding-left: 5%;
}

.register-button a {
  color: white;
  text-decoration: none;
  margin-top: 1%;
  border-radius: 5px;
 
  height: 20px;
}



input.form-control{
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.btn-primary, .btn-default{
   cursor: pointer;
   border-radius: 5px;
   width: 30%;
   
   height: 30px;
   color: white;
   //background: #4D4845;
   background-color: rgba(0, 0, 255, 0.7);
}

.btn-primary:hover {
  outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.btn-default:hover {
  outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

form {
  display: block;
  margin: auto;
  padding-bottom: 4%;
}

input.form-control:focus {
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
 
}



.profile-btn {
 align-items: center;
}

.explanation {
  box-sizing: border-box;
  margin: 0;
  bottom: 0;
  font-weight: lighter;
  font-family: 'Cinzel', serif;
  
}

.caramia {
  background-image: url("https://image.ibb.co/niBzJ6/Messages_Image_1176467859.jpg");
  position: absolute;
  overflow: hidden;
  height: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.container{
	margin: auto;
  //height: 100vh;
}

.form-group {
  padding-bottom: 5%;
}

.horse-pics {
  max-width: 450px;
  background-position: center;
}

.background-2 {
  position: relative;
  background: #00B7FF;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.background-3 {
  //background-image: url("https://image.ibb.co/kkArtw/IMG_3423.jpg");
  position: relative;
  overflow: hidden;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

#background {
  background-image: url("https://image.ibb.co/jyLgfm/caramiaarena.jpg");
  //background-image: url("https://image.ibb.co/mSRvdw/IMG_0882.jpg");
  //background-image: url("../uploads/109f2c01fe647de0f139376842b258ad");
  position: relative;
  //width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  //background-position: 100%;
  z-index: 1;
}




